<a href="https://colab.research.google.com/github/ssofiespossito/trabajos_python/blob/main/EJERCICIOS_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<font color="#07a8ed">Variables, condicionales y bucles</font>**

<p align="center">
<img src="https://www.python.org/static/community_logos/python-powered-h-70x91.png"/>
</p>

### **<font color="#07a8ed">1. Creaci√≥n de Tuplas</font>**

1. Crea una tupla llamada `monedas` que contenga los nombres de 3 monedas diferentes (por ejemplo, "peso", "d√≥lar", "euro").
2. Crea una tupla llamada `numeros_primos` con los primeros 5 n√∫meros primos `(2, 3, 5, 7, 11)`.
3. Crea una tupla `datos_personales` que contenga tu nombre (`string`), edad (`int`) y altura (`float`).

In [ ]:
monedas = ('peso','d√≥lar', 'euro')
numeros_primos = (2, 3, 5, 7, 11)
datos_personales = ('Sof√≠a', 26, 1.55)

In [ ]:
print(type(monedas))
print(type(numeros_primos))
print(type(datos_personales))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
print(monedas)
print(numeros_primos)
print(datos_personales)

('peso', 'd√≥lar', 'euro')
(2, 3, 5, 7, 11)
('Sof√≠a', 26, 1.55)

### **<font color="#07a8ed">2. Acceso a elementos</font>**

1. Dada la tupla `monedas` del ejercicio anterior, imprime el segundo elemento.
2. Dada la tupla `numeros_primos`, imprime el √∫ltimo elemento utilizando indexaci√≥n negativa.
3. Intenta modificar un elemento de la tupla `datos_personales` (por ejemplo, cambiar tu edad). ¬øQu√© sucede? ¬øPor qu√©?

In [ ]:
print(monedas[1])
print(numeros_primos[-3])

d√≥lar
5

In [ ]:
datos_personales[1] = 27

TypeError: 'tuple' object does not support item assignment

In [ ]:
datos_personales = list(datos_personales)
datos_personales[1] = 27
datos_personales = tuple(datos_personales)
print(datos_personales)

('Sof√≠a', 27, 1.55)

### **<font color="#07a8ed">3. Conversi√≥n y Empaquetado/Desempaquetado</font>**

1. Convierte la tupla `monedas` en una lista y almac√©nala en una variable llamada `lista_monedas`.
2. Crea una lista de 3 colores y convi√©rtela en una tupla.
3. Empaqueta los valores 10, 20 y 30 en una tupla llamada `numeros`.
4. Desempaqueta la tupla `numeros` en tres variables diferentes: `a`, `b` y `c`.

In [ ]:
lista_monedas = list(monedas)
lista_colores = ['verde','azul', 'amarillo']
colores = tuple(lista_colores)
numeros = (10, 20, 30)
a, b, c = numeros
print(f'Tengo {a}, {b} y {c} monedas')
print(colores)
print(lista_monedas)

Tengo 10, 20 y 30 monedas
('verde', 'azul', 'amarillo')
['peso', 'd√≥lar', 'euro']

### **<font color="#07a8ed">4. Manipulaci√≥n de Listas</font>**

1. Crea una lista llamada `compras` con al menos 5 art√≠culos que necesitas comprar.
2. Agrega un nuevo art√≠culo al final de la lista.
3. Inserta un art√≠culo en la tercera posici√≥n de la lista.
4. Elimina el √∫ltimo art√≠culo de la lista.
5. Ordena la lista alfab√©ticamente.

In [ ]:
compras = ['leche', 'az√∫car', 'harina', 'pan', 'jam√≥n']
compras.insert (5, 'queso')
print(compras)

['leche', 'az√∫car', 'harina', 'pan', 'jam√≥n', 'queso']

In [ ]:
compras.insert(2, 'caf√©')
print(compras)

['leche', 'az√∫car', 'caf√©', 'harina', 'pan', 'jam√≥n', 'queso']

### **<font color="#07a8ed">5. B√∫squeda en Listas</font>**

1. Usando la lista `compras`, verifica si "leche" est√° en la lista. 2. Imprime un mensaje indicando si se encontr√≥ o no.
3. Verifica si "carne" NO est√° en la lista utilizando `not in`. Imprime el resultado.

In [ ]:
'leche' in compras

True

In [ ]:
'carne' in compras

False

### **<font color="#07a8ed">6. Concatenaci√≥n y Combinaci√≥n de Listas</font>**

1. Crea una lista llamada `numeros_pares` con los primeros 5 n√∫meros pares.
2. Crea otra lista llamada `numeros_impares` con los primeros 5 n√∫meros impares.
3. Combina ambas listas en una sola llamada `numeros_combinados`.

In [ ]:
numeros_pares = [2, 4, 6, 8, 10]
numeros_impares = [1, 3, 5, 7, 9]
numeros_combinados = numeros_pares + numeros_impares
print(numeros_combinados)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

### **<font color="#07a8ed">7. Creaci√≥n y Acceso a Diccionarios</font>**

1. Crea un diccionario llamado `agenda` que contenga los nombres y n√∫meros de tel√©fono de al menos 3 personas.
2. Imprime el n√∫mero de tel√©fono de una persona espec√≠fica buscando por su nombre.
3. Agrega un nuevo contacto a la agenda.
4. Elimina un contacto de la agenda.

In [ ]:
agenda = {'Juan': 5551234, 'Maria': 5555678, 'Pedro': 5559012}
type(agenda)

dict

In [ ]:
print(agenda['Maria'])

5555678

In [ ]:
agenda['pablo'] = 122333
print(agenda)

{'Juan': 5551234, 'Maria': 5555678, 'Pedro': 5559012, 'pablo': 122333}

In [ ]:
del agenda['Juan']
print(agenda)

{'Maria': 5555678, 'Pedro': 5559012, 'pablo': 122333}

### **<font color="#07a8ed">8. Creaci√≥n de Diccionarios a partir de Secuencias</font>**

1. Crea una lista `paises` con 5 nombres de pa√≠ses y otra lista capitales con sus respectivas capitales.
2. Utiliza `zip()` para combinar ambas listas y crear un diccionario `pais_capital` donde las claves sean los pa√≠ses y los valores sean las capitales.

### **<font color="#07a8ed">9. Operaciones con Conjuntos</font>**

1. Crea un conjunto `numeros1` con los n√∫meros del 1 al 5.
2. Crea otro conjunto `numeros2` con los n√∫meros del 4 al 8.
3. Calcula e imprime:
  - La uni√≥n de ambos conjuntos.
  - La intersecci√≥n de ambos conjuntos.
  - La diferencia entre `numeros1` y `numeros2`.
  - La diferencia sim√©trica entre ambos conjuntos.

### **<font color="#07a8ed">10. Comprensiones</font>**

1. Dada una lista de n√∫meros `numeros = [1, 2, 3, 4, 5, 6]`, utiliza comprensi√≥n de listas para crear una nueva lista que contenga solo los n√∫meros pares.
2. Dada la misma lista de `numeros`, utiliza comprensi√≥n de conjuntos para crear un conjunto que contenga el cuadrado de cada n√∫mero.
3. Crea un diccionario llamado `longitud_palabras` donde las claves sean las palabras de la lista `elementos` y los valores sean la longitud de cada palabra, utilizando comprensi√≥n de diccionarios.

### **<font color="#07a8ed">11. Ejercicio Integrador: An√°lisis Financiero Simplificado</font>**

**Contexto:**

Eres un analista financiero que necesita procesar datos de estados financieros de diferentes empresas. Se te proporciona la siguiente informaci√≥n:

- **Empresas:** Una tupla con los nombres de las empresas:
  ```python
  empresas = ("Empresa A", "Empresa B", "Empresa C")
  ```
- **Activos y Pasivos:** Listas de tuplas para cada empresa, donde cada tupla contiene el nombre del activo/pasivo y su valor:
  ```python
  activos_empresa_a = [("Efectivo", 250000), ("Cuentas por Cobrar", 120000), ("Inventario", 80000), ("Inversiones", 150000)]
  pasivos_empresa_a = [("Cuentas por Pagar", 50000), ("Pr√©stamos", 100000), ("Impuestos por Pagar", 25000)]

  activos_empresa_b = [("Efectivo", 80000), ("Cuentas por Cobrar", 65000), ("Inventario", 180000), ("Inversiones", 90000)]
  pasivos_empresa_b = [("Cuentas por Pagar", 95000), ("Pr√©stamos", 220000), ("Impuestos por Pagar", 40000)]

  activos_empresa_c = [("Efectivo", 380000), ("Cuentas por Cobrar", 210000), ("Inventario", 150000), ("Inversiones", 280000)]
  pasivos_empresa_c = [("Cuentas por Pagar", 130000), ("Pr√©stamos", 350000), ("Impuestos por Pagar", 60000)]
  ```

**Tareas:**
1. **Crear un diccionario:** Utiliza comprensi√≥n de diccionarios para crear un diccionario `estados_financieros` donde las claves sean los nombres de las empresas y los valores sean diccionarios con las claves "Activos" y "Pasivos". Los valores de "Activos" y "Pasivos" deben ser los diccionarios correspondientes creados a partir de las listas `activos` y `pasivos`.

2. **Calcular Patrimonio Neto:** Para cada empresa, calcula el patrimonio neto (Patrimonio Neto = Activos - Pasivos) y agr√©galo al diccionario `estados_financieros` bajo la clave "Patrimonio Neto".

3. **Identificar Activos Clave:** Crea un conjunto `activos_clave` que contenga los nombres de los activos que tienen un valor superior a 100,000.

4. **Empresas con Problemas de Liquidez:** Utiliza comprensi√≥n de listas para crear una lista `empresas_liquidez` con los nombres de las empresas cuyo activo corriente (Efectivo + Cuentas por Cobrar) es menor que su pasivo corriente (Cuentas por Pagar).

5. **Mostrar Resultados:** Imprime los siguientes resultados de manera clara y organizada:

  - El diccionario `estados_financieros` completo.
  - El conjunto `activos_clave`.
  - La lista `empresas_liquidez`.

**Informaci√≥n extra**:
- Se puede trabajar tanto con comprensi√≥n como con bucles y condicionales.
- Los bucles se pueden anidar para trabajar de una manera m√°s profunda y compleja.
- Es posible que se deba utilizar m√©todos como `items()` para trabajar con diccionarios. Su prop√≥sito principal es proporcionar una forma de acceder tanto a las claves como a los valores de un diccionario de manera simult√°nea (devuelve una tupla con la par clave/valor del objeto). Es posible usarlo en iteraciones.
- Adem√°s de `items()`, tambi√©n es posible que se deba utilizar `values()` que permite obtener los valores solamentes, para trabajar de manera individual cada uno de ellos. Se puede usar en iteraciones.

## **<font color="#07a8ed">Resoluci√≥n</font>**

### **<font color="#07a8ed">1. Creaci√≥n de Tuplas</font>**

In [ ]:
monedas = ("peso", "d√≥lar", "euro")
numeros_primos = (2, 3, 5, 7, 11)
datos_personales = ("Juan P√©rez", 35, 1.78)

### **<font color="#07a8ed">2. Acceso a elementos</font>**

In [ ]:
print(monedas[1])         # Output: d√≥lar
print(numeros_primos[-1]) # Output: 11

# Intentar modificar la tupla:
datos_personales[1] = 36  # Esto generar√° un TypeError, ya que no se puede modificar un valor dentro de una tupla.

d√≥lar
11

TypeError: 'tuple' object does not support item assignment

In [ ]:
lista_monedas = list(monedas)
colores = ["rojo", "verde", "azul"]
colores_tupla = tuple(colores)

numeros = (10, 20, 30)
a, b, c = numeros

print(lista_monedas)
print(colores_tupla)
print(a, b, c)

['peso', 'd√≥lar', 'euro']
('rojo', 'verde', 'azul')
10 20 30

### **<font color="#07a8ed">4. Manipulaci√≥n de Listas</font>**

In [ ]:
compras = ["pan", "leche", "huevos", "queso", "jam√≥n"]
compras.append("frutas")
compras.insert(2, "caf√©")
compras.pop()
compras.sort()

print(compras)

['caf√©', 'huevos', 'jam√≥n', 'leche', 'pan', 'queso']

### **<font color="#07a8ed">5. B√∫squeda en Listas</font>**

In [ ]:
if "leche" in compras:
    print("La leche est√° en la lista de compras.")
else:
    print("La leche no est√° en la lista de compras.")

if "carne" not in compras:
    print("La carne no est√° en la lista de compras.")

La leche est√° en la lista de compras.
La carne no est√° en la lista de compras.

### **<font color="#07a8ed">6. Concatenaci√≥n y Combinaci√≥n de Listas</font>**

In [ ]:
numeros_pares = [2, 4, 6, 8, 10]
numeros_impares = [1, 3, 5, 7, 9]

numeros_combinados = numeros_pares + numeros_impares
print(numeros_combinados)

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

### **<font color="#07a8ed">7. Creaci√≥n y Acceso a Diccionarios</font>**

In [ ]:
agenda = {
    "Ana": "351-1234",
    "Juan": "3543-5678",
    "Maria": "351-9012"
}

print(agenda["Juan"])
agenda["Pedro"] = "351-4321"
agenda.pop("Ana")

# Para eliminar, tambi√©n se puede utilizar:
# del agenda["Ana"]

print(agenda)

3543-5678
{'Juan': '3543-5678', 'Maria': '351-9012', 'Pedro': '351-4321'}

### **<font color="#07a8ed">8. Creaci√≥n de Diccionarios a partir de Secuencias</font>**

In [ ]:
paises = ["Argentina", "Brasil", "Chile", "Colombia", "Per√∫"]
capitales = ["Buenos Aires", "Brasilia", "Santiago", "Bogot√°", "Lima"]

pais_capital = dict(zip(paises, capitales))
print(pais_capital)

{'Argentina': 'Buenos Aires', 'Brasil': 'Brasilia', 'Chile': 'Santiago', 'Colombia': 'Bogot√°', 'Per√∫': 'Lima'}

### **<font color="#07a8ed">9. Operaciones con Conjuntos</font>**

In [ ]:
numeros1 = {1, 2, 3, 4, 5}
numeros2 = {4, 5, 6, 7, 8}

union = numeros1.union(numeros2)
interseccion = numeros1.intersection(numeros2)
diferencia = numeros1.difference(numeros2)
diferencia_simetrica = numeros1.symmetric_difference(numeros2)

print(f"Uni√≥n: {union}")
print(f"Intersecci√≥n: {interseccion}")
print(f"Diferencia (numeros1 - numeros2): {diferencia}")
print(f"Diferencia sim√©trica: {diferencia_simetrica}")

Uni√≥n: {1, 2, 3, 4, 5, 6, 7, 8}
Intersecci√≥n: {4, 5}
Diferencia (numeros1 - numeros2): {1, 2, 3}
Diferencia sim√©trica: {1, 2, 3, 6, 7, 8}

### **<font color="#07a8ed">10.  Comprensiones</font>**

In [ ]:
numeros = [1, 2, 3, 4, 5, 6]

pares = [num for num in numeros if num % 2 == 0]
print(pares)

cuadrados = {num**2 for num in numeros}
print(cuadrados)

elementos = ['activo', 'pasivo', 'patrimonio neto','pasivo corriente', 'pasivo no corriente']
longitud_palabras = {palabra: len(palabra) for palabra in elementos}
print(longitud_palabras)

[2, 4, 6]
{1, 4, 36, 9, 16, 25}
{'activo': 6, 'pasivo': 6, 'patrimonio neto': 15, 'pasivo corriente': 16, 'pasivo no corriente': 19}

### **<font color="#07a8ed">11. Ejercicio Integrador: An√°lisis Financiero Simplificado</font>**

In [ ]:
empresas = ("Empresa A", "Empresa B", "Empresa C")

activos_empresa_a = [("Efectivo", 250000), ("Cuentas por Cobrar", 120000), ("Inventario", 80000), ("Inversiones", 150000)]
pasivos_empresa_a = [("Cuentas por Pagar", 50000), ("Pr√©stamos", 100000), ("Impuestos por Pagar", 25000)]

activos_empresa_b = [("Efectivo", 80000), ("Cuentas por Cobrar", 65000), ("Inventario", 180000), ("Inversiones", 90000)]
pasivos_empresa_b = [("Cuentas por Pagar", 95000), ("Pr√©stamos", 220000), ("Impuestos por Pagar", 40000)]

activos_empresa_c = [("Efectivo", 380000), ("Cuentas por Cobrar", 210000), ("Inventario", 150000), ("Inversiones", 280000)]
pasivos_empresa_c = [("Cuentas por Pagar", 130000), ("Pr√©stamos", 350000), ("Impuestos por Pagar", 60000)]

activos = [activos_empresa_a, activos_empresa_b, activos_empresa_c]
pasivos = [pasivos_empresa_a, pasivos_empresa_b, pasivos_empresa_c]

# 1. Crear diccionario de estados financieros
estados_financieros = {}
for i, empresa in enumerate(empresas):
    estados_financieros[empresa] = {
        "Activos": dict(activos[i]),
        "Pasivos": dict(pasivos[i])
    }

# 2. Calcular Patrimonio Neto
for empresa, datos in estados_financieros.items():
    activos_total = 0
    for valor in datos["Activos"].values():
        activos_total += valor
    pasivos_total = 0
    for valor in datos["Pasivos"].values():
        pasivos_total += valor
    datos["Patrimonio Neto"] = activos_total - pasivos_total

# 3. Identificar Activos Clave
activos_clave = set()
for empresa in empresas:
    for nombre, valor in estados_financieros[empresa]["Activos"].items():
        if valor > 100000:
            activos_clave.add(nombre)

# 4. Empresas con Problemas de Liquidez
empresas_liquidez = []
for empresa, datos in estados_financieros.items():
    activo_corriente = datos["Activos"]["Efectivo"] + datos["Activos"]["Cuentas por Cobrar"]
    pasivo_corriente = datos["Pasivos"]["Cuentas por Pagar"]
    if activo_corriente < pasivo_corriente:
        empresas_liquidez.append(empresa)

# 5. Mostrar Resultados
print("Estados Financieros:")
for empresa, datos in estados_financieros.items():
    print(f"- {empresa}:")
    for tipo, valores in datos.items():
        print(f"  {tipo}: {valores}")

print("\nActivos Clave:", activos_clave)
print("\nEmpresas con Problemas de Liquidez:", empresas_liquidez)

Estados Financieros:
- Empresa A:
  Activos: {'Efectivo': 250000, 'Cuentas por Cobrar': 120000, 'Inventario': 80000, 'Inversiones': 150000}
  Pasivos: {'Cuentas por Pagar': 50000, 'Pr√©stamos': 100000, 'Impuestos por Pagar': 25000}
  Patrimonio Neto: 425000
- Empresa B:
  Activos: {'Efectivo': 80000, 'Cuentas por Cobrar': 65000, 'Inventario': 180000, 'Inversiones': 90000}
  Pasivos: {'Cuentas por Pagar': 95000, 'Pr√©stamos': 220000, 'Impuestos por Pagar': 40000}
  Patrimonio Neto: 60000
- Empresa C:
  Activos: {'Efectivo': 380000, 'Cuentas por Cobrar': 210000, 'Inventario': 150000, 'Inversiones': 280000}
  Pasivos: {'Cuentas por Pagar': 130000, 'Pr√©stamos': 350000, 'Impuestos por Pagar': 60000}
  Patrimonio Neto: 480000

Activos Clave: {'Inventario', 'Cuentas por Cobrar', 'Inversiones', 'Efectivo'}

Empresas con Problemas de Liquidez: []

<p align="center"><b>
üíó
<font color="#07a8ed">
Hemos llegado al final de nuestro colab, a seguir codeando...
</font>
</p>